.getCode{
    .hiddenElements{
        display: none;
    }
    
    .showCode{
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (min-width: 43.75em){
            flex-direction: row;
        }
        width: 100%;
        padding: 2rem;

        &__box{
            flex: 0 1 calc(49% - 1rem);
            margin: 1rem;
            width: 100%;
            @media screen and (min-width: 43.75em){
                width: 49%;
            }
        }
        &__code{
            word-wrap: break-word;
            background-color: $black;
            color: $white;
            padding: 1rem; 
            border-radius: 0.2rem;
            font-size: 1.05rem;
        }
        &__btn{
            background-color: transparent;
            border: 1px solid $black;
            padding: 0.2rem;
            font-size: 1rem;
            margin: 0.5rem 0;
            border-radius: 0.2rem;
        }
    }

    &__sectionTitle{
        font-weight: 500;
        color: $primary;
        margin: 0.5rem 0;
    }
}